.container-fluid.modal-container
  button.btn.button-modal-close(type = "button", (click) = "cancel()")
    i.fas.fa-times

  .modal-header
    .modal-header-text-centered
      h2(translate) REPORT_FIRE.TITLE

  .modal-content
    .row.align-items-center
      .col-md-5.col-sm-12
        label(for="place", translate) REPORT_FIRE.FIRE_PLACE
      .col-md-7.col-sm-12
        input#place(type = "text",
          #place = "ngModel",
          [(ngModel)] = "firePlace",
          [disabled]="isCustomizeSquadsVisible",
          placeholder = "{{ 'REPORT_FIRE.SET_FIRE_PLACE' | translate }}")

    fire-counter(label='REPORT_FIRE.NUMBER_OF_BRIGADES',
      [minValue]="0",
      [maxValue]="100",
      [disabled]="isCustomizeSquadsVisible",
      [(value)]="numberOfSquads")

    .row
      .map-content
        agm-map([latitude] = "lat",
          [longitude] = "lng",
          [zoom] = "zoom",
          (mapClick)="placeMarker($event)")

          agm-marker([latitude] = "lat",
            [longitude] = "lng",
            [agmFitBounds] = "true",
            style="background-color: blue;"
          )

          agm-marker(*ngFor="let squad of squads",
            [latitude] = "squad.brigade.latitude",
            [longitude] = "squad.brigade.longitude",
            [agmFitBounds] = "true",
            [label]="squad.brigade.name",
            style="background-color: blue;"
          )

    .row.justify-content-end(style="padding: 0 15px;")
      button.btn.btn-link.btn-text(*ngIf="!isCustomizeSquadsVisible", type="button", (click)="reportFire()", translate) REPORT_FIRE.REPORT

    span(*ngIf="isCustomizeSquadsVisible")
      span(*ngFor="let squad of squads", style="padding: 0 15px;")
        fire-counter([label]="getBrigadeDescription(squad)",
          [minValue]="0",
          [maxValue]="maxSquadsAmount(squad)",
          [(value)]="squad.squadAmount")

      .row.justify-content-between(style="padding: 0 15px;")
        button.btn.btn-link.btn-cancel(type="button", (click)="cancel()", translate) ALL.CANCEL
        button.btn.btn-link.btn-text(type="submit", (click)="onSubmit()", translate) REPORT_FIRE.ACCEPT
